@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

/*   color variables */
$clr-primary: #0e48fe;

$clr-gray300: #e1e5ee;
$clr-gray500: #4f546c;

/*   border radius */
$radius: 0.2rem;



body {
  font-family: "Noto Sans", sans-serif;
  color: $clr-gray500;
}

.wrapper {
  margin: 2rem;
  display: grid;
  gap: 1rem;
}

.faUp{
  color: #0e48fe;
}

.faDown{
  color: red;
  margin-left: 1em;
}

.card {
  box-shadow: 0 0 10px 5px $clr-gray300;
  border-radius: $radius;
  min-width: 3rem;
  display : flex;


  &__body {
    margin: 1rem;
    flex-grow: 1;
  }
  &__title {
    line-height: 1rem;
    margin-bottom: 0.5rem;
  }
  &__description {
    line-height: 0,5rem;
  }
  

}

@media screen and (min-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 17rem));
  }

  .card {
    flex-direction: column;
    text-align: center;
    min-width: 20rem;

  }
}
